################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BandZone/.vs/BandZone/v15/Server/sqlite3/db.lock
/BandZone/.vs/BandZone/v16/Server/sqlite3/db.lock
