
@{
    ViewBag.Title = "Schedules Index";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/calendar_dark.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Schedule</h1>
    </div>
</div>

