body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}


/* 
    Site Colors - split complementary scheme
    b87e17 - light muted brown
    17a2b8 - deep aqua / Band Zone blue
    b81751 - cool muted blue/red
 
*/
:root {
    --bz-brown: #b87e17;
    --bz-aqua: #17a2b8;
    --bz-wine: #b81751;
    --bz-lighter-wine: #d3648c;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
    height: 50px;
}http://localhost:54360/?Length=18

#navigation {
    border: none;
}



/* Navbar brand area in navigation */
/* Using an id instead of a class because overriding BS styles is hard. */
#navbar-branding {
    font-size: 3rem;        
}
.nav-text-override {
    color: var(--bz-lighter-wine) !important;
}



/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-item {
    height: 100vh;
    /*min-height: 600px;*/
    max-height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.carousel .carousel-item {
    transition-duration: 1.5s;
}

/* demo typography */
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 3.3rem;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    .display-3 {
        font-size: 2rem;
    }
}

.card {
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 4%;
    margin-right: 10%;
}
.card-icon {
    color: var(--bz-aqua);
}
.card-title {
    color: var(--bz-wine);
}
.card-body-text {
    color: #666;
}
.card-links {
    color: var(--bz-wine);
}



.bg-image-full {
    height: 100vh;
    max-height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    margin-left: 20px;
}

footer {
    margin: 0;
    height: 200px;
    border-top: 1px solid #222;
}
.footer-copyright {
    margin-top: 5rem;
    padding: 1rem;
    color: #9d9d9d;
    text-align: center;
}



/* Login Page */
.login-wrapper {
    margin-top: 70px;
    padding: 15px;
}

.login-musician-section {
    background-color: #f7f6f9;
    border: 1px solid #e7e6e9;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-venue-section {
    background-color: #f7f6f9;
    border: 1px solid #e7e6e9;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}




/* Musician Pages */

.musician-index-wrapper {
    margin: 3rem 2rem;
}

.musician-call-to-action {
    border: 1px solid #e7e6e9;
    border-radius: 5px;
    margin: 3rem;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #f7f6f9;
    text-align: center;
}

    .musician-call-to-action h3 {
        color: #17a2b8;
    }

    .musician-call-to-action button {
        margin: 2rem;
        padding: 1rem 3rem;
    }

    .musician-call-to-action a {
        color: #fff;
    }

.musician-create-wrapper {
    margin: calc(50px + 3rem);
}


.musician-edit-wrapper {
    margin: calc(50px + 3rem);
}


.musician-details-wrapper {
    margin: calc(50px + 3rem);
}
.musician-details-wrapper dl {
    margin: 3rem 0rem;
}
.musician-details-wrapper dt, .musician-details-wrapper dd {
    margin-bottom: 1rem;
}


.musician-delete-wrapper {
    margin: calc(50px + 3rem);
}
.musician-delete-wrapper dl {
    margin: 3rem 0rem;
}

.musician-delete-wrapper dt, .musician-delete-wrapper dd {
    margin-bottom: 1rem;
}




/* Venue Pages */

.venue-index-wrapper {
    margin: 3rem 2rem;
}

.venue-call-to-action {
    border: 1px solid #e7e6e9;
    border-radius: 5px;
    margin: 3rem;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #f7f6f9;
    text-align: center;
}

    .venue-call-to-action h3 {
        color: #17a2b8;
    }

    .venue-call-to-action button {
        margin: 2rem;
        padding: 1rem 3rem;
    }

    .venue-call-to-action a {
        color: #fff;
    }

.venue-create-wrapper {
    margin: calc(50px + 3rem);
}

.venue-edit-wrapper {
    margin: calc(50px + 3rem);
}

.venue-details-wrapper {
    margin: calc(50px + 3rem);
}

    .venue-details-wrapper dl {
        margin: 3rem 0rem;
    }

    .venue-details-wrapper dt, .musician-details-wrapper dd {
        margin-bottom: 1rem;
    }

.venue-delete-wrapper {
    margin: calc(50px + 3rem);
}

    .venue-delete-wrapper dl {
        margin: 3rem 0rem;
    }

    .venue-delete-wrapper dt, .musician-delete-wrapper dd {
        margin-bottom: 1rem;
    }


    /* Login Page */

.login-index-wrapper {
    /* Using the normal 3rem 2rem margin + additional 50px to clear the navbar */
    margin: calc(3rem + 50px) 2rem 3rem 2rem;
}

.login-grouping {
    margin: 4rem 1rem;
}
.login-grouping button {
    margin: 0.5rem 0 1rem 0;
}