body {
    font-family: 'Roboto', sans-serif;
    padding: 50px 20px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
    height: 50px;
}


#navigation {
    border: none;
}


/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-item {
    height: 100vh;
    /*min-height: 600px;*/
    max-height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.carousel .carousel-item {
    transition-duration: 1.5s;
}

/* demo typography */
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 3.3rem;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    .display-3 {
        font-size: 2rem;
    }
}

.card {
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 4%;
    margin-right: 10%;
}

.icons {
    color: gray;
}


/* Wrapper for header image */
.banner_list {
    margin: 0 -20px;
    padding: 0 -20px;
}

.bg-image-full {
    height: 100vh;
    max-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    margin-left: 20px;
}

footer {
    background-color: #333;
    margin: 0 -20px;
    padding: 20px;
    min-height: 200px;
    color: #bbb;
}


/* Body Content */
/* TODO SET MIN HEIGHT OF BODY CONTENT TO FOOTER STAYS AT BOTTOM */
.content-wrapper {
    height: calc(100vh - 500px);
}


/* Musician Page */
.musician-table {
    margin-right: 2rem;
}
.musician-table th {
    background-color:#666;
    color: #fff;
}
.musician-table {
    margin-top: 2rem;
}