
@{
    ViewBag.Title = "Venue Index";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/guitar.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Venues</h1>
    </div>
</div>

<div class="content-wrapper">
    coming soon..
</div>