@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://via.placeholder.com/600x150" alt="Alternate Text" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bands</h2>
        <p>
            Integer sagittis ligula orci, non efficitur lorem ornare in. Curabitur vitae lacus sed lectus semper pharetra. Proin ac blandit neque. Vestibulum a dui tortor. Fusce bibendum ultrices viverra.
        </p>
        <p><a class="btn btn-default" href="/Bands">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venues</h2>
        <p>Morbi mattis ex sem. Duis porta lacus imperdiet, placerat quam eu, rhoncus turpis. Aenean accumsan justo sit amet tortor scelerisque elementum. </p>
        <p><a class="btn btn-default" href="/Venues">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedules</h2>
        <p>Nullam quis malesuada diam, at pretium risus. Nam sed diam tortor. Vivamus viverra porttitor neque et congue. Curabitur sit amet blandit nisi, sit amet aliquet urna. Praesent ac metus eget nunc pharetra facilisis.</p>
        <p><a class="btn btn-default" href="/Schedules">More &raquo;</a></p>
    </div>
</div>