@model IEnumerable<BandZone.BL.Musician>

@{
    ViewBag.Title = "Musician Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/guitar.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Bands & Musicians</h1>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandMusicianName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandMusicianName)
            </td>
        </tr>
    }

</table>


<div>
    <button class="btn btn-large">@Html.ActionLink("Create an account", "Create")</button>
</div>
