@model IEnumerable<BandZone.BL.Musician>

@{
    ViewBag.Title = "Musician Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/guitar.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Bands & Musicians</h1>
    </div>
</div>

<div class="musician-index-wrapper">
    <table class="table table-striped ">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.BandMusicianName)
            </th>*@

            <th>Name</th>
            <th>Genre</th>
            <th>More</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BandMusicianName)
                 </td>
                <td>
                       Genre
                    @* TODO load genre of each band *@
                </td>

                <td>
                    @Html.ActionLink("See More...", "Details", "Musician", new { Id = item.MusicianId }, null)
                </td>
            </tr>
        }
    </table>

    <div class="musician-call-to-action">
        <h3>Sign up your Band</h3>
        <p>If you are a band or a musician and would like to join BandZone, sign up now.</p>
        <button class="btn btn-large btn-primary">@Html.ActionLink("Create an account", "Create")</button>
    </div>
</div>




