@model IEnumerable<BandZone.BL.Musician>

@{
    ViewBag.Title = "Musician Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Musicians</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandMusicianName)
        </th>
    </tr>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandMusicianName)
            </td>
        </tr>
}

</table>